* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;

}

header {
    height: 260px;
    border-style: double;
    border-color: aliceblue;
    font-size: 1.2rem;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
}

h1 {

    margin: 10px;
    border-style: solid;
    border-color: rgb(42, 151, 165);
    color: aliceblue;
    background-color: black;
}

.header__img {

    background-color: rgb(175, 71, 71);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.encabezado {
    display: flex;
    justify-content: space-evenly;
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo__img-tamaño {
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(42, 151, 165);
    width: 150px;
}


.navegador {
    display: flex;
    align-items: center;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    gap: 20px;
}

.navegador>a {
    padding: 10px;
    border-radius: 30px;
    color: aliceblue;
    ;
}

.navegador a:hover {
    background-color: rgba(3, 93, 172, 0.452);
    transition: all 600ms;
    font-size: 1.7rem;
    text-shadow: rgb(0, 204, 255) 1px 5px 20px;

}


.portada__index-img {

    width: 100%;
    height: 450px;
}

.cajas {
    background-image: url("../IMA-PROYECTO/fondodecajas1jpg.jpg");
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;

}

.portada__index-cajas {

    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.562);
    justify-content: space-around;
    display: flex;
    padding: 10px;
    margin: 10px;

}


.titulosprimarios {
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    text-shadow: rgb(4, 0, 255) 1px 5px 20px;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-family: 'Diplomata SC', cursive;
    height: 150px;
}

.decoraciones1 {

    background-image: url("../IMA-PROYECTO/fondoparamentesbrillantes2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.decoraciones2 {
    background-image: url("../IMA-PROYECTO/diamantesnosotrosh2.jpg");
    background-repeat: no-repeat;
    background-position: right;
    border-color: aqua;
    padding: 3px 10px;
    border: rgb(0, 225, 255) 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.orfebres__articulos {

    padding: 10px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    margin-left: 100px;
    margin-right: 250px;
}

.orfebres__articulos-imagen {
    border: 10px;
    border-style: double;
    width: 400px;
    height: 300px;

}

.orfebres__articulos-texto {
    margin: 20px;
    text-align: center;
    color: black;
    font-size: 2rem;
    font-family: 'Bonheur Royale', cursive;

}

.orfebres__articulos-texto>strong {
    color: blue;
    font-weight: 800;
    border-radius: 10px;
    padding: 4px;
}

.orfebres__articulos-texto>a {
    display: flex;
    justify-content: center;
    color: blue;
    text-decoration: underline;
    font-size: 0.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.orfebres__articulos-texto>a:hover {
    font-size: 1rem;
}


p>a:link {
    color: blue;
}

p>a:visited {
    color: blueviolet;
}


.footer {
    background-color: black;
    justify-content: space-between;
    display: flex;
}

.footer__img {
    margin: 20px;

}

.footer__list {
    border-style: solid;

    padding: 10px;
    margin: 10px;
    color: aliceblue;
    font-size: 1.3rem;
    padding: 20px;
    display: flex;
    text-align: center;
}

.footer {
    border-style: solid;
}






.nosotros {

    gap: 10px;
    display: flex;
    flex-direction: column;
}


.nosotros__posicion {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nosotros__texto {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 2px;

}













.cursos {
    height: 600px;
    display: flex;
    justify-content: space-around;


}


.cursos__articulos {
    border-style: solid;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;

}


.cursos__articulos:hover {
    transition: all 1s;
    width: 320px;
    height: 320px;
    background-color: rgba(5, 152, 250, 0.651)
}

.cursos__articulos:hover .contenido-oculto {
    display: block;

}

.contenido-oculto {

    z-index: 1;
    width: 400px;
    height: 400px;
}

.contenido-oculto {
    display: none;
}




.tarjeta {
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    align-items: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.tarjeta>p {
    text-align: center;
}

.tarjeta__descripcion>li {
    padding: 3px;
    list-style-type: circle;
}

.tarjeta__img {
    width: 200px;
}

.container__piezasunicas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.formulario {

    background-image: url("../IMA-PROYECTO/fondoparacontacto.jpg");
    background-size: cover;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__casilleros {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

@media(max-width:400px) {
    .navegador {

        align-items: center;
        font-size: 15px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    h1 {
        font-size: 15px;
    }


    .encabezado {
        height: fit-content;
    }

    .logo__img-tamaño {
        height: 50px;
        width: 50px;

    }

    .nosotros__texto {
        font-size: 0.8em;
    }

    .nosotros__posicion {
        display: flex;
        flex-direction: column;
    }

    .nosotros__posicion>img {
        width: 300px;
    }

    .footer {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .titulosprimarios{
        font-size: 1.3rem;
    }






}
