@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* bases para secciones de titulos */
.bg-titulos-page {
  text-shadow: rgb(0, 208, 255) 1px 5px 20px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

/* tarjeta para articulos */
.tarjeta {
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 10px 13px -7px #000000, 10px 5px 13px -2px rgba(0, 0, 0, 0.4);
}
.tarjeta__img {
  width: 100%;
  height: 50%;
}
.tarjeta__titulo {
  text-align: center;
  font-weight: 800;
  text-decoration: underline;
}
.tarjeta__texto-descripcion {
  height: 30%;
}
.tarjeta__lista {
  background: linear-gradient(50deg, rgb(120, 116, 56) 5%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 92%, rgb(120, 116, 56) 93%);
  border-style: solid;
}

.nav-item a:hover {
  transition: all 600ms;
  font-size: 1.2rem;
  text-shadow: rgb(0, 208, 255) 1px 5px 20px;
}

.piezasunicas__texto {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.piezasunicas__texto p {
  background-color: rgba(255, 251, 251, 0.192);
  text-align: justify;
  padding: 40px;
  margin: 10px;
}

.grupo__tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grupo__tarjetas-titulo {
  text-align: center;
}

.texto-responsive {
  display: none;
}

.consejos {
  padding: 5px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: fit-content;
  background-color: rgb(0, 0, 0);
}
.consejos__tarjeta {
  -webkit-border-radius: 40px 40px 0px 40px;
  -moz-border-radius: 40px 40px 0px 40px;
  border-radius: 40px 40px 0px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  background-color: aliceblue;
}
.consejos__tarjeta > img {
  width: 40px;
  height: 40px;
}
.consejos__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../IMA-PROYECTO/cuidadodejoyasimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/3;
}

@media (max-width: 600px) {
  .consejos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .consejos__tarjeta {
    width: 200px;
    height: fit-content;
  }
  .consejos__img {
    display: none;
  }
  .texto-responsive {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 2px 2px 2px rgba(206, 89, 55, 0);
    margin-top: 10px;
    height: 50px;
    color: white;
    font-size: 1.2rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
.cursos {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.tarjetacurso__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(50deg, rgb(120, 116, 56) 5%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 92%, rgb(120, 116, 56) 93%);
}
.tarjetacurso__titulo {
  font-size: 1.3rem;
}

.nosotros {
  font-size: 0.9rem;
  margin-top: 10px;
  color: white;
  background-color: black;
}
.nosotros__texto {
  padding: 10px;
  display: flex;
  align-items: center;
}
.nosotros__texto > img {
  width: 400px;
}
.nosotros__texto > p {
  letter-spacing: 1px;
  margin: 20px;
}

@media (max-width: 900px) {
  .nosotros__texto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nosotros__texto > img {
    width: 70%;
  }
}
.bg-contacto {
  background-image: url("../IMA-PROYECTO/fondoparacontacto.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacto {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.formulario {
  box-shadow: rgba(0, 0, 0, 0.603) 10px 5px 50px 10px;
  background-color: rgba(0, 0, 0, 0.555);
  width: 70vw;
  height: auto;
}
.formulario__items {
  padding: 10px;
  color: white;
}
.formulario__lista {
  display: flex;
  justify-content: center;
  width: 100%;
}
.formulario__iconos {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  .formulario {
    width: 100vh;
    height: 100vh;
  }
}
.portada {
  background-image: url(../IMA-PROYECTO/bgdeindexanillosplatayoro.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.portada__tarjeta {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 95%;
  background: radial-gradient(circle, rgb(0, 0, 0) 10%, rgba(255, 255, 255, 0) 40%);
}

/* div con animacion para representar cursos y seminarios  */
.presentacion {
  background: linear-gradient(30deg, rgb(0, 146, 255) 17%, rgb(0, 0, 0) 17%, rgb(0, 0, 0) 86%, rgb(0, 146, 255) 86%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.presentacion__cursos {
  color: white;
  border-style: solid;
  border-color: white;
  width: fit-content;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.411);
  animation-name: animación-caja;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.presentacion__cursos > a {
  padding: 10px;
  border-radius: 20px;
  border-style: solid;
}
.presentacion__texto {
  padding: 30px;
  font-size: 1.2rem;
  text-align: justify;
  color: white;
  width: 100%;
  height: 100%;
}

@keyframes animación-caja {
  0% {
    transform: translate(0px);
  }
  25% {
    transform: translate(50px);
  }
  50% {
    transform: translate(0px);
  }
  75% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(0px);
  }
}
.presentacion__nosotros {
  background: linear-gradient(228deg, rgb(0, 146, 255) 19%, rgb(0, 138, 241) 22%, rgb(0, 0, 0) 75%);
  color: rgb(255, 255, 255);
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.presentacion__nosotros > img {
  width: 100%;
}

.presentacion__nosotros > p {
  font-size: 2rem;
  font-family: "Bonheur Royale", cursive;
}

.presentacion__nosotros-items {
  display: flex;
  flex-direction: column;
}
.presentacion__nosotros-items h4 {
  text-align: center;
  font-size: 2rem;
}
.presentacion__nosotros-items p {
  font-family: "Bonheur Royale", cursive;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .presentacion__nosotros {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  font-size: 0.9rem;
  margin-top: 30px;
  background-color: black;
}
.footer__iconos {
  display: flex;
  justify-content: center;
}
.footer__iconos a > img:hover {
  width: 70px;
}
.footer .footer__suscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.footer .footer__suscripcion > p {
  text-align: center;
  text-decoration: overline;
  color: white;
}
.footer .footer__suscripcion > img {
  width: 200px;
  border-style: solid;
  border-radius: 100px;
  border-color: #1F87FF;
}
.footer .footer__suscripcion > a {
  width: fit-content;
  box-shadow: inset 4px 4px 15px 0px #1F87FF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-style: solid;
  border-radius: 50px;
  padding: 5px;
}
.footer__listas {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.footer__listas > ul {
  width: 250px;
  color: white;
  padding: 10px;
  border-style: double;
  border-color: rgba(31, 136, 255, 0.3568627451);
}

/*# sourceMappingURL=estilos.css.map */
