* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;

}

.titulos-bases {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: black;
}


.card {
    margin: 10px;
}

.bg-1 {
    background-image: url("../IMA-PROYECTO/fondoparamentesbrillantes2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bg-2 {
    background-image: url(../IMA-PROYECTO/lingotespyo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

}

.tarjeta-texto1 {
    color: rgb(0, 0, 0);
}






.bg-footer {
    background-color: black;
    width: 100%;
    height: 50vh;
}


