.portada {
    background-image: url(../IMA-PROYECTO/bgdeindexanillosplatayoro.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;


    &__tarjeta {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 255, 255);
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        height: 95%;
        background: radial-gradient(circle, rgb(0, 0, 0) 10%, rgba(255, 255, 255, 0) 40%);

    }
}

 /* div con animacion para representar cursos y seminarios  */
.presentacion {
    background: linear-gradient(30deg, rgba(0, 146, 255, 1) 17%, rgba(0, 0, 0, 1) 17%, rgba(0, 0, 0, 1) 86%, rgba(0, 146, 255, 1) 86%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;


    &__cursos {

        color: white;
        border-style: solid;
        border-color: white;
        width: fit-content;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.411);
        animation-name: animación-caja;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }


    &__cursos>a {
        padding: 10px;
        border-radius: 20px;
        border-style: solid;
    }

    &__texto {
        padding: 30px;
        font-size: 1.2rem;
        text-align: justify;
        color: white;
        width: 100%;
        height: 100%;

    }
}

@keyframes animación-caja {
    0% {
        transform: translate(0px);
    }

    25% {
        transform: translate(50px)
    }

    50% {
        transform: translate(0px)
    }

    75% {
        transform: translate(-50px)
    }

    100% {
        transform: translate(0px)
    }


}



.presentacion__nosotros {
    background: linear-gradient(228deg, rgba(0, 146, 255, 1) 19%, rgba(0, 138, 241, 1) 22%, rgba(0, 0, 0, 1) 75%);
    color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.presentacion__nosotros>img {
    width: 100%;
}

.presentacion__nosotros>p {
    font-size: 2rem;
    font-family: 'Bonheur Royale', cursive;



}

.presentacion__nosotros-items {
    display: flex;
    flex-direction: column;


    & h4{
        text-align: center;
        font-size: 2rem;
    }

    & p{
        
        font-family: 'Bonheur Royale', cursive;
        font-size: 2rem;
    }
}

@media (max-width:1000px) {
    .presentacion__nosotros {
        display: flex;
        flex-direction: column;



    }

}