.nosotros {
    font-size: 0.9rem;
    margin-top: 10px;
    color: white;
    background-color: black;



    &__texto {
        padding: 10px;
        display: flex;
        align-items: center;

    }


    &__texto>img {
        width: 400px;
    }


    &__texto>p {

        letter-spacing: 1px;
        margin: 20px;
    }
}

@media (max-width:900px) {
    .nosotros__texto {
        width: 100%;
        display: flex;
        flex-direction: column;

        &>img {
            width: 70%;
        }

    }


}