.piezasunicas__texto{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piezasunicas__texto>p{

    background-color: rgba(255, 251, 251, 0.192);
    text-align: center;
    padding: 40px;
margin: 10px;
}


   




.tarjeta__titulo-principal{
    color: white;
    background-color: black;
    box-shadow:rgba(0, 0, 0, 0.603)   5px 5px 10px ; 
    border-style: double;
    font-size: 1.2rem;
}


.tarjeta__lista{
    width: 100%;
}