.cursos{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
 .tarjetacurso{

&__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    &__titulo{
        font-size: 1.3rem;
    }

 }