.footer {
    font-size: 0.9rem;
    margin-top: 30px;
    background-color: black;

    &__iconos {
        display: flex;
        justify-content: center;

        & a>img:hover {
            width: 70px;
        }

    }



    .footer__suscripcion {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;

        &>p {

            text-align: center;
            text-decoration: overline;
            color: white;
        }

        &>img {
            width: 200px;
            border-style: solid;
            border-radius: 100px;
            border-color: #1F87FF;
        }

        &>a {
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
            display: block;
            width: fit-content;
            box-shadow: inset 4px 4px 15px 0px #1F87FF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
            border-style: solid;
            border-radius: 50px;
            padding: 5px;


        }

    
    }


    &__listas {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;



        &>ul {
            width: 250px;
            color: white;
            padding: 10px;
            border-style: double;
            border-color: #1f88ff5b;
        }
    }

}