.footer {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    background-color: black;





    &__form {
        color: white;
        border-style: solid;
        border-color: aqua;
        display: flex;
        flex-direction: column;

    }

    &__iconos-lista {
        margin: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__iconos {
        height: 20vh;
    }

    &__form {
        border-style: solid;
        border-width: 1px;
        padding: 10px;
        border-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

}